main {
    max-width: 1024px;
    margin: 0 auto;
	margin-top: 60px;
}

.grid-container {
    height: 100%;
	background-color: cornsilk;
}

h1, h2 {
	text-align: center;
	line-height: 100px;
}

h3 {
	text-indent: 1em;
}

p {
	text-indent: 2em;
	line-height: 40px;
}

summary {
	text-indent: 2em;
}

.fa {
	display: table-cell;
	/* 垂直居中 */
	vertical-align: middle;
	/* 水平居中 */
	text-align: center;
	background-color: lightblue;
  }

a:link {color: lightblue}     /* 未访问的链接 */
a:visited {color: lightblue}  /* 已访问的链接 */
a:hover {color: #FF00FF}    /* 当有鼠标悬停在链接上 */
a:active {color: black}   /* 被选择的链接 */
a{text-decoration: none;}   /*去下划线*/

