h1,h2 {
	text-align: center;
}

.text1 h3.pos_abs{
	position:absolute;
	left:100px;
	top:100px;
	color:blue;
}

.text2 h3.pos_left{
position:relative;
left:-7px;
}

.text2 h3.pos_right{
position:relative;
left:20px;
}

.text3+p.one{
position:fixed;
left:5px;
top:400px;
}

.text3+p.two{
position:fixed;
top:450px;
left:5px;
}

.text4 {
	width: fit-content;
	margin: 40px auto;
    overflow: auto;
  }
  table {
	text-align: left;
	position: relative;
	border-collapse: collapse;
  }
  th, td {
	padding: 0.25rem;
  }
  tr:nth-child(even) {
	background: #EFEFEF;
  }
  tr.red th {
	background: #dd4a63;
	color: white;
  }
  tr.green th {
	background: #03C03C;
	color: white;
  }
  tr.blue th {
	background: #1580d8;
	color: white;
  }
  th {
	background: white;
	position: sticky;
	top: 0;
  }