h1 {
	text-align: center;
}

table {
	border-collapse: collapse;
	width: 100% ;
	height: 100% ;
  }
  th {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
  }
  td {
	border: 1px solid black;
	padding: 15px;
  }