h1,h2 {
	text-align: center;
}

.text1 p {
	background: rgba(255,84,104,0.3);
	border: 2px solid rgb(255,84,104);
	padding: 10px;
	margin: 10px;
  }

.text2 {
    background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 0 auto;
}

img 
{
	float:right;
}